name: build and deploy mkdocs to github pages
on:
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: 'x64'
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip     # install pip
        python3 -m pip install mkdocs            # install mkdocs
        python3 -m pip install mkdocs-material   # install material theme
    - name: Build site
      run: mkdocs build --no-directory-urls
    - name: Deploy to Skynet
      uses: kwypchlo/deploy-to-skynet-action@main
      with:
        upload-dir: build
        github-token: ${{ secrets.GITHUB_TOKEN }}
        registry-seed: ${{ github.event_name == ‘push’ && github.ref == ‘refs/heads/main’ && secrets.REGISTRY_SEED || ‘’ }}
